@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: "Proxima Nova", system-ui, sans-serif; */
    font-family: "Urbanist", sans-serif;
    letter-spacing: 3%;
    scroll-behavior: smooth;
  }
}
